@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;700;800&display=swap");
* {
  font-family: "Geologica", sans-serif;
}
    /* Target the number input fields */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none; /* Remove default appearance */
      margin: 0; /* Remove default margin */
    }
  
    /* Firefox */
    input[type="number"]{
      appearance: textfield; /* Remove default appearance */
      -moz-appearance: textfield; /* Remove default appearance */
    }